@{
    ViewBag.Title = "Cookie";
}

<h2>Cookie</h2>

Value of cookie was: @((Model ?? "").ToString())

<script type="text/javascript">
    var value = @((Model ?? "").ToString());
    localStorage.value = value;
</script>