@model Chris.Samples.MvcExam.CodeFirst.Models.Equipment

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Equipment</legend>

    <div class="display-label">EquipmentType</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.EquipmentType).ToString()</div>

    <div class="display-label">Technician</div>
    <div class="display-field">@(Model.Technician == null ? "None" : Model.Technician.LastName)</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


